body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  justify-content: center;
  background-color: rgb(221, 198, 198);
  margin: auto;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/** Headings **/

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30pt;
  letter-spacing: 0.1rem;
  text-align: center;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20pt;
  letter-spacing: 0.1rem;
  text-align: center;
}

/** Button **/

button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  transition: all 0.25s;
  height: 30px;
}
button:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  color: white;
}
@media (max-width: 844px), screen and (orientation: portrait) {
  button {
    font-size: 30px;
    height: 64px;
  }
}

/** Table **/

table {
  border: 2px solid red;
  background-color: rgb(221, 164, 164);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin: auto;
}
th {
  border: 2px solid rgb(255, 0, 0);
}
td {
  border: 2px solid rgb(207, 115, 109);
}

.blackTable {
  border: 1px solid black;
}

/** Body Sections **/

.main-container {
  border: 4px solid red;
  border-radius: 10px;
  padding: 10px;
  flex: 2;
  margin: 10px;
  background-color: rgb(228, 209, 209);
}
.card {
  border: 2px solid red;
  padding: 10px;
  flex: 2;
  margin: 10px;
  background-color: rgb(211, 167, 167);
}

/** Gallery **/

.gallery {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.gallery-item {
  border: 1px solid #cc1717;
  border-radius: 8px;
  cursor: pointer;
  height: 150px;
  width: 150px;
  background-size: cover;
}
.gallery-item:hover {
  border: 1px solid #0a0374;
}

.gallery-desc {
  padding: 15px;
  text-align: center;
}

/** Images **/

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.zoom_on_hover {
  transition: all 0.25s;
  cursor: pointer;
}
.zoom_on_hover:hover {
  transform: scale(1.5);
}

/** Preview **/

.preview-container {
  background-color: #dfa7a7;
  border-radius: 16px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 32px;
  box-sizing: border-box;
  width: 70vw;
  height: 90vh;
  position: fixed;
  left: 14vw;
  top: 5vh;
  align-items: center;
}

.preview-container img {
  width: 60vw;
  height: 60vh;
  object-fit: contain;
}

/** Menu **/

.menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 10px;
}
