body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  justify-content: center;
  background-color: rgb(221, 198, 198);
  margin: auto;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/** Headings **/

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30pt;
  letter-spacing: 0.1rem;
  text-align: center;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20pt;
  letter-spacing: 0.1rem;
  text-align: center;
  clear: both;
}

/** Button **/

.flex-container{  
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  transition: all 0.25s;
  height: 30px;
}
button:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  color: white;
}
@media (max-width: 844px), screen and (orientation: portrait) {
  button {
    font-size: 30px;
    height: 64px;
  }
}

/** Table **/

table {
  border: 2px solid red;
  background-color: rgb(221, 164, 164);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
th {
  border: 2px solid rgb(255, 0, 0);
}
td {
  border: 2px solid rgb(207, 115, 109);
}

/** Body Sections **/

.main-container {
  border: 4px solid red;
  border-radius: 10px;
  padding: 10px;
  flex: 2;
  margin: 10px;
  background-color: rgb(228, 209, 209);
}
.card {
  border: 2px solid red;
  padding: 10px;
  flex: 2;
  margin: 10px;
  background-color: rgb(211, 167, 167);
}

/** Images **/
.main-gallery{
  text-align: center; /* Aliniați orizontal imaginea în mijloc */
  display: flex;
  flex-direction: row;
  justify-content: center; /* Aliniați vertical imaginea în mijloc */
  align-items: center;
}
.gallery{
  margin: 20px;
  border: 1px solid #cc1717;
  float: left;
  width: 150px;

}
.gallery:hover {
  border: 1px solid #0a0374;
  cursor: pointer;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.image_zoom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: all 0.25s;
}
.image_zoom:hover {
  transform: scale(1.5);
}
