body {
  border: solid;
  border-color: rgb(240, 180, 68);
  border-radius: 5px;
  background-color: rgb(224, 206, 126);
}
h1 {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}
.main-cards {
  padding: 20px;
  border: 10px;
  background-color: rgb(226, 175, 63);
}
.content {
  display: flex;
  justify-content: space-between;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  margin-bottom: 20px;
  border: solid;
  border-width: 2px;
  border-color: rgba(194, 117, 17, 0.658);
  border-radius: 5px;
  background-color: rgb(241, 198, 105);
}
.content div {
  margin: 15px;
}
.menu {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  transition: all 0.25s;
  cursor: pointer;
  height: 20px;
}
.menu:hover {
  background-color: rgb(211, 138, 28);
}
.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border: solid;
  border-width: 1px;
  border-color: rgba(194, 117, 17, 0.658);
  border-radius: 5px;
  width: auto;
  background-color: rgb(255, 248, 181);
}
.card div {
  margin: 10px;
}
.button {
  display: flex;
  justify-content: center;
}
